<%- include('./includes/head.ejs') %> 
    <div class="text-center">
        <h4 class="m-5">صفحه مورد نظر یافت نشد!</h4>
        <a class="btn btn-outline-info" href="/"
            >برگشت به صفحه اصلی
            <span class="fa fa-heart" style="color: red;"></span>
        </a>
    </div>
</body>
</html>
